:root{
    --color-separador: rgb(87,27,45);
    --color-fondo: rgb(245,245,245);
    --color-foot: rgb(210,210,210);
    --color-header: rgb(237, 227, 206);
    font-size: 10px;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


header {
    background-color: var(--color-header);
    width: 100%;
    }

.flex-container{
    display: flex;
    flex-wrap: wrap;
    height: 3.5rem;
    width: 100%;
    background-color: var(--color-separador);
    padding: 0px;
    font-family: "Libre Caslon Text";
    margin: 0px;
    }

.buscador {
    margin: 0.5rem 0.5rem;
    height: 3rem;
    align-items: center;
    width: 19%;
    }

#ventana-buscador{
    height: 6vh;
    padding: 2px;
    justify-content: center;
    }

.header-list {
    display: flex;
    color: var(--color-fondo);
    flex-wrap: nowrap;
    width: 80%;
    font-family: "Libre Caslon Text";
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0px 0px;
    padding: 0.7rem 20rem 0.5rem 2rem;
    font-size: 8px;
    }

.header-list a:hover {
    text-decoration: underline;
    }

.miniatura-header{
    margin-bottom: 0.1rem;
    width: 1rem;
    }

.flex-container-nav{
    display: flex;
    justify-content: space-between;
    height: 9rem;
    align-content: center;
    padding-top: 2rem 0;
    }

.logo-container{
    align-content: center;
    align-self: center;
    }

.logo-img{
    width: 20rem;
    }

.nav-list-container{
    padding: 0;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 6rem;
    }

.nav-list {
    margin: 0px;
    display: inline-flex; 
    color: var(--color-separador);
    height: 30px;
    justify-items: left;
    }

.nav-list a:hover {
    text-decoration: underline;
    }

.corte-info {
    color: var(--color-separador);
    text-transform: uppercase;
    font-size: small;
    }

.carrito-container {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--color-foot);
    padding: 0.5rem;
    margin: 0 0; 
    height: auto; 
    width: 7rem;
    }

.carrito-container img{
    width: 3rem;
    }

.separador {
    margin: 0px; 
    background-color: var(--color-separador);
    color: var(--color-fondo);
    height: 30px;
    }

#banner-principal {
    background-image: url('01-Uruguay-Tannat.jpg');
    background-size: cover;
    background-position: center;
    height: 35vw;
    max-width: 100%;
    padding: 40px;
    font-family: "Libre Caslon Text";
    font-size: 4vw;
    text-align: center;
    align-content: center;
    color: var(--color-header);
    margin: 0 auto;
    text-shadow: 0 2px 2px rgba(87,27,45, 2);
    }

header {
    background-color: var(--color-header);
    }

.banner-slide{
    width: 100%;
    height: auto;
    overflow: hidden;
    }

.banner-slide ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: slide 8s infinite alternate ease-in-out;
    }

.banner-slide li{
    width: 100%;
    }

.banner-slide a{
    padding: 0;
    }

.banner-slide img{
    width: 100%;
    }

@keyframes slide {
    0% {margin-left: 0%;}
    45% {margin-left: 0%;}

    50% {margin-left: -100%;}
    100% {margin-left: -100%;}    
    }

.corte-info-card{
    padding: 2rem 0;
    margin: 1rem auto;
    color: var(--color-separador);
    text-transform: uppercase;
    font-size: small;
    display: flex;
    justify-content: center;
    height: 12rem;
    align-items: center;
    }

.corte-perse-1{
    display: flex;
    width: 30rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem;
    height: 7rem;
    }

.corte-perse-1 img{
    width: 3rem;
    }

.corte-perse{
    display: flex;
    width: 30rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-left: 1px solid;
    padding: 0.2rem;
    height: 7rem;
    }

.corte-perse img{
    width: 3rem;
    }

.promos-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 56rem;
    margin-top: 2rem;
    }

.promos-lista-card-container{
    width: 100%;
    max-width: 120rem;
    height: 43rem;
    display: flex;
    margin: auto;
    justify-content: center;
    }

.card-promo{
    width: 30rem;
    height: 38.5rem;
    border-radius: 0.8rem;
    box-shadow: 0 2px 2px rgba(87,27,45, 0.2);
    overflow: hidden;
    margin: 2rem;
    text-align: center;
    transition: all 0.25s;
    }

.card-promo img{
    width: 28rem;
    }


.promos-lista-card-container .card-promo:hover{
    transform: translateY(-10px);
    box-shadow: 0 1.2rem 1.6rem rgba(87,27,45, 0.2);
    }

.card-promo-miniatura{
    width: 3.4rem;
    }

.card-promo-miniatura img{
    width: 3rem;
    }

.promos-lista-card-container .card-promo-miniatura:hover{
    transform: translateY(-3px);
    box-shadow: 0 1.2rem 1.6rem rgba(87,27,45, 0.05);
    }

.promos-lista-card-container p{
    text-transform: uppercase;
    color: var(--color-separador);
    font-size: 1.5rem;
    }

.destacados-lista-container {
    width: auto;
    max-width: 110rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    justify-content: center;
    border-radius: 0.8rem;
    }


.destacados-lista img{
    width: 20rem;
    height: 38.5rem;
    border-radius: 0.8rem;
    box-shadow: 0 2px 2px rgba(87,27,45, 0.2);
    margin: 2rem;
    text-align: center;
    transition: all 0.25s;
    }
.imagen-hover:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    }
    
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87,27,45, 0.8);
    }
    
.modal-contenido {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    }
    
.cerrar {
    position: absolute;
    top: 15px;
    right: 35px;
    color: var(--color-fondo);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    }
    

.novedades-video {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column;
    margin: 2rem auto;
    justify-content: center;
    }

    
.novedades-video h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    }
    
.novedades-list-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    width: 100%;
    }
    
.novedades-list {
    margin: 1rem; 
    flex: 1; 
    max-width: 45rem; 
    }
    
video {
    width: 100%; 
    height: auto; 
    border-radius: 0.8rem; 
    box-shadow: 0 2px 2px rgba(87, 27, 45, 0.2); 
    }
    

.reseña-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 2rem auto;
    gap: 1rem;
    }

.reseña-contacto h2{
    grid-column: 1/-1;
    text-align: center;
    }

.reseña-container{
    display: grid;
    max-width: 80rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(237, 227, 206, 0.5);
    border: 0.2rem solid var(--color-foot);
    border-radius: 1rem;
    gap: 1rem;
    }


.reseña-perse{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    height: auto;
    border: .2rem outset var(--color-header);
    background-color: rgba(210, 210, 210, 0.5);
    color: var(--color-separador);
    text-align: left;
    margin: 1rem;
    padding: 1.5rem;
    box-shadow: 0 2px 2px rgba(87, 27, 45, 0.2);
    border-radius: 0.8rem;
    }

.reseña-perse-1{
    grid-column: 1/4;
    text-align: center;
    }

.reseña-perse h4 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
    }

.reseña-perse p {
    margin-bottom: 1rem;
    text-align: center;
    }

.reseña-perse cite {
    align-self: flex-end;
    text-transform: capitalize;
    font-style: normal;
    font-size: 0.9rem;
    }

a   {
    padding: 10px;
    text-decoration: none;
    color: var(--color-fondo);
    text-transform: uppercase;
    }

li  {
    list-style: none;
    }

.corte-titulo{
    align-content: center;
    }

h2 {
    width: 100%;
    background-color: var(--color-separador);
    color: var(--color-fondo);
    text-align: center;
    height: 4rem;
    align-content: center;
    font-size: 2rem;
    font-family: "Libre Caslon Text";
    }

h4{
    text-transform: uppercase;
    }

h3 {
    text-transform: uppercase;
    color: var(--color-separador);
    font-size: 1.5rem;
    }

body {
    background-color: var(--color-fondo);
    }

.contacto-container {
    width: 100%;
    max-width: 80rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(237, 227, 206, 0.5);
    border: 0.2rem solid var(--color-foot);
    border-radius: 1rem;
    text-align: center;
    color: var(--color-separador);
    }
    
.contacto-container h3 {
    margin-bottom: 1.5rem;
    }
    
.form-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    }
    
.form-container {
    width: 40%;
    }

.form-container form{
    align-items: left;
}
    
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    }

.form-group-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    }

    
.form-group label {
    font-weight: bold;
    }
    
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-fondo);
    box-sizing: border-box;
    }
    
button {
    align-self: flex-end;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: var(--color-fondo);
    background-color: var(--color-foot);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    }
    
.info-container {
    width: 55%;
    font-size: 1.5rem;
    }
    
.info-mayorista {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    }
    
.info-contacto-redes {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--color-separador);
    }
    
.info-contacto{
    width: 45%;
    text-align: left;
}
.info-redes {
    width: 45%;
    text-align: center;
    }
    
.info-contacto p,
.info-redes p {
    margin: 0.3rem 0;
    }
    
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--color-foot);
    color: var(--color-separador);
    text-align: center;
    }
    
.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
.footer-column h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    }
    
footer form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    }
    
form input, form button {
    width: 100%;
    max-width: 15rem;
    padding: 0.4rem;
    border-radius: 0.25rem;
    border: 1px solid var(--color-fondo);
    font-size: 0.9rem;
    }
    
form button {
    max-width: 8rem;
    background-color: var(--color-separador);
    color: var(--color-fondo);
    cursor: pointer;
    }
    
.social-icons {
    display: flex;
    gap: 1rem;
    }
    
.social-icons a img {
    width: 2.4rem;
    height: 2.4rem;
    }
    
.contact-info {
    text-align: center;
    font-size: 0.9rem;
    font-size: 1.5rem;
    }
    
.contact-info hr {
    width: 100%;
    border: none;
    border-top: 1px solid var(--color-separador);
    margin: 0.5rem 0;
    }
    
.footer-section {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    }
    
.footer-section a {
    color: var(--color-separador);
    text-decoration: none;
    font-size: 0.9rem;
    font-size: 1.5rem;
    }
    
.footer-section a:hover {
    text-decoration: underline;
    }

/*----------styles para pagina crear cuenta--------- */

.crear-cuenta {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 2rem auto;
    gap: 1rem;
    }

.crear-cuenta h2 {
    grid-column: 1 / -1;
    text-align: center;
    }

.newser-container {
    width: 60%; 
    margin: 2rem auto;
    padding: 4rem;
    background-color: rgba(237, 227, 206, 0.5);
    border: 0.2rem solid var(--color-foot);
    border-radius: 1rem;
    text-align: center;
    color: var(--color-separador);
    }
    
.newser-container form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 3rem; 
    row-gap: 2.5rem; 
    width: 100%;
    }

.newser-container form input{
    max-width: 30rem;
    }
    
legend {
    grid-column: span 2;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    }
    
.crear-cuenta-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    }
    
.crear-cuenta-group label {
    font-weight: bold;
    font-size: 1.4rem;
    }
    
.crear-cuenta-group input {
    width: 100%;
    margin-left: -10px; 
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-fondo);
    box-sizing: border-box;
    }
    

/*----------Media Queries--------- */

@media (max-width: 1218px){
    .nav-list-container{
        padding: 0;
        justify-content: right;
        margin-top: 1rem;
        margin-right: 1rem;
        display: block;
        align-content: stretch;
        height: 9rem;
        }
    }

@media (max-width: 1019px) {
    .promos-lista-card-container{
        width: 100%;
        max-width: 120rem;
        height: 43rem;
        display: flex;
        margin: auto;
        justify-content: center;
        }
    .reseña-contacto{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 2rem auto;
        gap: 1rem;
        }
    .reseña-perse{
        width: 22rem;
        }
    }

@media (max-width: 998px) {
    .flex-container{
        display: flex;
        flex-wrap: nowrap;
        height: 3.5rem;
        width: 100%;
        background-color: var(--color-separador);
        padding: 0px;
        font-family: "Libre Caslon Text";
        margin: 0px;
        }
    .reseña-container {
        grid-template-columns: repeat(2, 1fr);
        }
    }

@media (max-width: 757px) {
    .flex-container-nav{
        height: 10rem;
        }

    }

@media (max-width: 600px) {
    .reseña-container {
        grid-template-columns: 1fr;
        }  
    .reseña-perse-1{
        grid-column: 1/4;
        }
    .flex-container-nav{
        height: 13rem;
        }  
    }