* {

    margin: 10px; /*margin establece el margen para los cuatro lados*/
    padding: 5px; /*padding establece el espacio de relleno*/
    background-color: rgb(200,186,159); /*cambia el color de relleno*/
    font-family: Verdana; /*cambia el tipo de letra*/
    }